/*.btn-group > .btn, .btn-group-vertical > .btn {
  opacity: 0.3; }
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
  opacity: 0.7; }
.btn-group > .btn.active, .btn-group-vertical > .btn.active {
  opacity: 1; }*/
.btn-active {
  color: #000;
  font-size: 14px;
  padding: 7px 11px;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ccc; }
.btn-active:focus, .btn-active.focus {
  color: #fff;
  background-color: green !important;
  border-color: green !important; }
.btn-active:hover {
  color: #fff;
  background-color: #1E90FF;
  border-color: #1E90FF; }
.btn-active:active, .btn-active.active, .open > .btn-active.dropdown-toggle {
  color: #fff;
  background-color: #1E90FF !important;
  border-color: #1E90FF !important; }
  
.btn-inactive {
  color: #000;
  font-size: 14px;
  padding: 7px 11px;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ccc; }
.btn-inactive:focus, .btn-inactive.focus {
  color: #000;
  background-color: #eee !important;
  border-color: #ccc !important; }
.btn-inactive:hover {
  color: #fff;
  background-color: #f23b3b;
  border-color: #f23b3b; }
.btn-inactive:active, .btn-inactive.active, .open > .btn-inactive.dropdown-toggle {
  color: #fff;
  background-color: #f23b3b !important;
  border-color: #f23b3b !important; }
  
.btn-ticket {
  color: #fff;
  background-color: #1E90FF;
  border-color: #197bb0;
}

.btn-ticket:hover {
  color: #fff;
  background-color: #177ad6;
  border-color: #197bb0; 
}
  
span.fa-support {
  color: #CC0000;
}

.fa-info-circle {
  color: #197bb0;
  font-size: 1.5em !important;
}

.notice {
	font-size: 1.2em;
	text-indent: .9em;
    color: #333;
	margin-top: 20px;
	margin-bottom: 20px;
}

.journal {
	font-size: 1.2em;
	text-indent: .9em;
    color: #333;
	margin-top: 0px;
	margin-bottom: 0px;
}

.copyright {
	margin-top: 20px;
}

.col-sm-4 {    
    width: 365px !important;
	padding-left: 0;
	padding-right: 0;
	margin-left: 15px;   
}

/*input[type=text], select {   
    padding: 8px;
	margin-bottom: 10px;	
    border: 1px solid #ccc !important;
    border-radius: 4px !important;   
}*/

 /*the container must be positioned relative:*/
.custom-select {
  position: relative;
  /*font-family: Arial;*/
  font-size: 13px;
  border: 1px solid #1E90FF !important;
  border-radius: 4px !important;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #1E90FF;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  /*position: absolute;*/
  background-color: #1E90FF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  /*border: 1px solid #1E90FF !important;
  border-radius: 0 0 4px 4px !important;*/
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}