<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Guest Uses</th>
        <th>Customer Uses</th>
        <th>Total uses</th>
        <th>Sort order</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for promo in promotion %}
    <tr>
        <td style="width:40%;">
            {{ promo.name }}
        </td>
        <td>
            <label class="switch">
                <input onChange="changeStatus(this);" {{ promo.status and promo.status == 'yes' ? 'checked="checked"' : '' }}  data-module-id="{{ promo.module_id }}" type="checkbox">
                <div class="slider round"></div>
            </label>
        </td>
        <td>
            {{ promo.uses.guests ? promo.uses.guests : '0' }}
        </td>
        <td>
            {{ promo.uses.customers ? promo.uses.customers : '0' }}
        </td>
        <td>
            {{ promo.uses.total ? promo.uses.total : '0' }}
        </td>
        <td>
            {{ promo.general_settings.sort_order ? promo.general_settings.sort_order : '0' }}
        </td>
        <td>
            <a href="{{ promo.link }}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
            <a onclick="confirm('Are you sure?') ? location.href='{{ promo.delete_link }}' : false;" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td  style="text-align: center;font-size:16px; padding-top: 30px; padding-bottom: 0;" colspan="6"> There are no promotions yet. Click the "+New promotion" button to create a new one.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col-sm-12">
        <hr>
        <a href="{{ addnew }}" data-toggle="tooltip" title="Add new promotion" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;&nbsp;New promotion</a>
    </div>
</div>