{% macro renderLinksMenu(j3, item, display) %}
  <li class="{{ j3.classes(item.classes) }}">
    {% if item.link.href %}
      <a href="{{ item.link.href }}" {{ j3.linkAttrs(item.link) }}>{{ j3.countBadge(item.title, item.link.total, item.link.classes) }}</a>
    {% else %}
      <a>{{ j3.countBadge(item.title, item.link.total, item.link.classes) }}</a>
    {% endif %}
  </li>
{% endmacro %}
{% if items %}
  <div class="{{ j3.classes(classes) }}">
    {% if title %}
      <h3 class="title module-title">{{ title }}</h3>
    {% endif %}
    <ul class="module-body">
      {% for item in items %}
        {{ _self.renderLinksMenu(j3, item) }}
      {% endfor %}
    </ul>
  </div>
{% endif %}
