{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ addnew }}" data-toggle="tooltip" title="Add new promotion" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;&nbsp;New promotion</a>
                <button type="submit" form="form-promotion" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary save-changes"><i class="fa fa-save"></i>&nbsp;Save</button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" class="form-horizontal" method="post" enctype="multipart/form-data" id="form-promotion-stats">
                    <ul class="nav nav-tabs">
                        {% for tab in tabs %}
                            <li><a href="#tab-{{ tab.id }}" data-toggle="tab">{{ tab.name }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for tab in tabs %}
                            <div class="tab-pane" id="tab-{{ tab.id }}">
                                {{ include(tab.file) }}
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('ul.nav.nav-tabs a:first').click();
    });

    function changeStatus(element) {
        var status;
        if ( $(element).prop('checked')==true){
            status = 'yes';
        } else {
            status = 'no';
        }

        var module_id  = $(element).attr('data-module-id');

        $.ajax({
            url: '{{ change_status_url }}&{{ token }}',
            type: "post",
            data: {module_id: module_id, status: status},
            success: function (response) {
                //SILENCE
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }
</script>

{{ footer }}







