<div class="checkout-section confirm-section">
  <div class="title section-title">{{ j3.settings.get('sectionTitleConfirm') }}</div>

  <div class="section-body">
    <div>
      <textarea class="form-control" placeholder="{{ text_comments }}"></textarea>
    </div>

    {% if entry_newsletter %}
      <div class="checkbox">
        <label><input v-model="newsletter" v-on:change="save()" type="checkbox"/>{{ entry_newsletter }}</label>
      </div>
    {% endif %}

    {% if text_privacy %}
      <div class="checkbox">
        <label><input v-model="privacy" type="checkbox"/>{{ text_privacy }}</label>
        <span class="text-danger" v-if="error && error.privacy" v-text="error.privacy"></span>
      </div>
    {% endif %}

    {% if text_agree %}
      <div class="checkbox">
        <label><input v-model="agree" type="checkbox"/>{{ text_agree }}</label>
        <span class="text-danger" v-if="error && error.agree" v-text="error.agree"></span>
      </div>
    {% endif %}

    <div class="buttons confirm-buttons">
      <div class="pull-right">
        <button v-on:click="save(true)" data-loading-text="<span>{{ j3.settings.get('confirmOrderLanguage') }}</span>" class="btn btn-primary" id="quick-checkout-button-confirm"><span>{{ j3.settings.get('confirmOrderLanguage') }}</span></button>
      </div>
    </div>
  </div>
</div>
