<div class="section-shipping" v-if="shipping_required">
  <div class="title section-title">{{ j3.settings.get('sectionTitleShippingMethod') }}</div>
  <div class="section-body">
    <div v-if="Object.keys(shipping_methods).length === 0" class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
    <div v-for="shipping_method in shipping_methods">
      <div class="shippings">
      <p v-html="shipping_method.title"></p>
      <div class="radio" v-for="quote in shipping_method.quote">
        <label>
          <input v-on:change="save()" v-bind:value="quote.code" type="radio" name="shipping_method" v-model="order_data.shipping_code"/>
          <span v-html="quote.title"></span>
        </label>
      </div>
    </div>
    </div>
  </div>
</div>
