{% if rows %}
  <div class="{{ j3.classes(grid_classes) }}">
    {% for grid_row in rows %}
      <div class="{{ j3.classes(grid_row.classes) }}">
        <div class="grid-cols">
          {% for grid_column in grid_row.columns %}
            <div class="{{ j3.classes(grid_column.classes) }}">
              <div class="grid-items">
                {% for grid_item in grid_column.items %}
                  <div class="{{ j3.classes(grid_item.classes) }}">
                    {{ grid_item.item }}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% if grid_row.videoBgStatus and grid_row.videoBg %}
          <div class="video-row">
            <video class="video-bg" autoplay loop muted {% if grid_row.videoInline %}playsinline{% endif %} data-src="{{ grid_row.videoBg }}"></video>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
