{{ header }}
<ul class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
  <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
  {% endfor %}
</ul>
{% if j3.settings.get('pageTitlePosition') == 'top' %}
  <h1 class="title page-title">
    <span >
      {{ heading_title }}
      {% if feed_url %}
        <a class="blog-feed" href="{{ feed_url }}" target="_blank"><span class="feed-text">RSS Feed</span></a>
      {% endif %}
    </span>
  </h1>
{% endif %}
{{ j3.loadController('journal3/layout', 'top') }}
<div class="container blog-home">
  <div class="row">{{ column_left }}
    <div id="content">
      {% if j3.settings.get('pageTitlePosition') == 'default' %}
        <h1 class="title page-title">
          {{ heading_title }}
          {% if feed_url %}
            <a class="blog-feed" href="{{ feed_url }}" target="_blank"><span class="feed-text">RSS Feed</span></a>
          {% endif %}
        </h1>
      {% endif %}
      {{ content_top }}
      {% if posts %}
        <div class="main-posts post-{{ j3.settings.get('globalPostView') }}">
          {% include "journal3/template/journal3/post_grid.twig" %}
        </div>
        <div class="row pagination-results">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      {% else %}
        <p>{{ text_empty }}</p>
        <div class="buttons">
          <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
