<div id="promotion-event" style="display: none">
    {% if promotions %}
    <div class="tab-pane" id="tab-promotions">
        <div id="promo_container">
            {% for key, promo in promotions %}

            {% if loop.index is divisible by(3) and not loop.last %}
            <div class="row">
                {% endif %}

                <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-thumb transition">
                        <div class="image"><a href="{{ promo.link }}"><img src="{{ promo.image }}" alt="{{ promo.name }}" title="{{ promo.name }}" class="img-responsive" /></a></div>
                        <div style="min-height: initial;margin-bottom:20px;" class="caption">
                            <h4><a href="{{ promo.link }}">{{ promo.name }}</a></h4>
                            <p>{{ promo.description|striptags|slice(0, 25) }}</p>
                            <a href="{{ promo.link }}" class="btn btn-primary">{{ view_more_button_text }}</a>
                        </div>
                    </div>
                </div>

                {% if loop.index is divisible by(3) and not loop.last %}
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    {% if promotions %}
    $(document).ready(function () {
        $("#tab-description").after( $('#promotion-event').html());
        $("ul.nav.nav-tabs").append('<li><a id="promo_tab_link" href="#tab-promotions" data-toggle="tab"> {{ promo_tab_header }}</a></li>');
        $("#button-cart").after('<button type="button" id="button-promotions" data-loading-text="{{text_loading}}" class="btn btn-success btn-lg btn-block">{{ view_promotions_button}} ({{ promotions|length }})</button>');
        $("#button-promotions").click(function() {
            $("#promo_tab_link").click();
            $('html, body').animate({
                scrollTop: $("#promo_tab_link").offset().top
            }, 500);
        });
        $('#promotion-event').remove();
    });
    {% endif %}
</script>