  div.short_description {
  color: rgb(42, 43, 46);	 
  font-size:1.0em;
  font-weight:500;  
  }  
  .product-grid-description .product-grid-item .description {
  margin-top:0;
  } 
  .product-list .description img  {
  max-width: 50%; 
  }
  .product-list-item .description img  {
  max-width: 50%; 
  }
  .description img  {
  max-width: 100%;  
  }  
  .description img  {
  max-width: 100%; 
  }
  .short_description img  {
  max-width: 100%;  
  }  
  /*Journal 3*/
  .card{ 
  margin-top: -6px !important;
  margin-bottom:10px;
  padding:10px 10px 0px; 
  }
  .card p {
  font-size:0.9em;
  font-weight:500;
  margin-bottom:10px !important;
  }	
  .side{ 	
  margin-bottom:10px;
  padding:10px 10px 0px; 
  }
  .side p {  
  font-size:1.0em;
  font-weight:500;
  margin-bottom:10px !important;
  }	
  .side-product .description {
  font-size:0.9em;
  font-weight:500;
  margin-top: -6px;
  margin-bottom:10px;
  padding:10px 10px 0px; 
  }
  .swiper-wrapper .side-product .description {
  font-size:0.9em;
  font-weight:500;
  margin-top: -6px;
  margin-bottom:10px;
  padding:10px 10px 0px; 
  }
  .product-grid .product-thumb .description {
  display: block !important;
  border-style: none !important;
  background: none !important;
  margin-top: -8px;
 }
  .product-grid .product-thumb .price {
  border-style: none !important;
 }