<div class="row">
    <div class="col-sm-12">
        <h3 style="font-size:13px;">The promotion will be available if
            <select name="condition_rules[condition_combine]" style="display:inline-block;width:70px;margin: 0 5px;" class="form-control input-sm" id="condition_combine">
                <option {{ condition_rules.condition_combine and condition_rules.condition_combine == 'All' ? 'selected' : '' }}  value="All">All</option>
                <option {{ condition_rules.condition_combine and condition_rules.condition_combine == 'Some' ? 'selected' : '' }} value="Some">Some</option>
            </select>
            of the conditions below are
            <select name="condition_rules[condition_bool]" style="display:inline-block;width:70px;margin: 0 5px;" class="form-control  input-sm" id="condition_bool">
                <option {{ condition_rules.condition_bool and condition_rules.condition_bool == 'True' ? 'selected' : '' }} value="True">True</option>
                <option {{ condition_rules.condition_bool and condition_rules.condition_bool == 'False' ? 'selected' : '' }} value="False">False</option>
            </select>

            &nbsp;&nbsp;<a href="javascript:void(0)" data-toggle="modal" data-target="#condHelperModal"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="conditions_group">
            {% for key, cond in conditions %}
            <div class="conditionRowData row" id="condition{{ key }}" data-id="{{ key }}"><hr>
                <div class="col-sm-3">
                    <select id="mainSelect{{ key }}" onchange="getFields(this);" name="conditions[{{ key }}][condSelect]" class="form-control">
                        <optgroup label="Cart requirements">
                            <option {{ cond.condSelect and cond.condSelect == 'cart_quantity' ? 'selected="selected"' : ''  }} data-condition="general" value="cart_quantity">Cart quantity</option>
                            <option {{ cond.condSelect and cond.condSelect == 'cart_total' ? 'selected="selected"' : ''  }} data-condition="general" value="cart_total" >Cart total</option>
                            <option {{ cond.condSelect and cond.condSelect == 'cart_weight' ? 'selected="selected"' : ''  }} data-condition="general" value="cart_weight">Cart weight (kg)</option>
                        </optgroup>
                        <optgroup label="Product requirements">
                            <option {{ cond.condSelect and cond.condSelect == 'product_name' ? 'selected="selected"' : ''  }} data-condition="product_name" value="product_name">Product in cart (autocomplete)</option>
                            <option {{ cond.condSelect and cond.condSelect == 'product_option' ? 'selected="selected"' : ''  }} data-condition="product_option" value="product_option">Product in cart with option (autocomplete)</option>
                        </optgroup>
                        <optgroup label="Customer requirements">
                            <option {{ cond.condSelect and cond.condSelect == 'customer_name' ? 'selected="selected"' : ''  }} data-condition="customer_name" value="customer_name">Customer name</option>
                            <option {{ cond.condSelect and cond.condSelect == 'customer_order' ? 'selected="selected"' : ''  }} data-condition="general" value="customer_order">Customer order count</option>
                            <option {{ cond.condSelect and cond.condSelect == 'customer_reg_date' ? 'selected="selected"' : ''  }} data-condition="customer_reg_date" value="customer_reg_date">Customer registred since</option>
                        </optgroup>
                        <optgroup label="Manufacturer requirements">
                            <option {{ cond.condSelect and cond.condSelect == 'manufac_name' ? 'selected="selected"' : ''  }} data-condition="manufac_name" value="manufac_name">Product from manufacturer in cart</option>
                        </optgroup>
                        <optgroup label="Category requirements">
                            <option {{ cond.condSelect and cond.condSelect == 'category_name' ? 'selected="selected"' : ''  }} data-condition="category_name" value="category_name">Product from category in cart</option>
                        </optgroup>
                        <optgroup label="Other requirements">
                            <option {{ cond.condSelect and cond.condSelect == 'day' ? 'selected="selected"' : ''  }} data-condition="day" value="day">Day of the week</option>
                        </optgroup>
                    </select>

                </div>

                <div class="col-sm-1" style="padding-left: 10px;font-weight: bold;width: 2%;line-height: 36px;">is</div>

                <div class="conditionRows col-sm-8">
                    <div class="general condition" style="display:none;">
                    <span class="col-sm-6">
                      <select name="conditions[{{ key }}][condEquals]" class="form-control">
                        <option {{ cond.condEquals and cond.condEquals == 'eq' ? 'selected="selected"' : ''  }}  value="eq">Equal to</option>
                          <option {{ cond.condEquals and cond.condEquals == 'neq' ? 'selected="selected"' : ''  }} value="neq">Not equal to</option>
                          <option {{ cond.condEquals and cond.condEquals == 'gtr' ? 'selected="selected"' : ''  }} value="gtr">Greater than</option>
                          <option {{ cond.condEquals and cond.condEquals == 'lth' ? 'selected="selected"' : ''  }} value="lth">Less than</option>
                      </select>
                    </span>

                        <span class="col-sm-6">
                      <input type="text" class="form-control" name="conditions[{{ key }}][condition_input]" placeholder="Enter Condition" value="{{ cond.condition_input ? cond.condition_input : '' }}" />
                    </span>
                    </div>

                    <div class="customer_reg_date condition" style="display:none;">
                    <span class="col-sm-12 date">
                      <div class="input-group">
                        <input type="text" class="form-control" name="conditions[{{ key }}][customer_date]" value="{{ cond.customer_date ? cond.customer_date : '' }}" placeholder="YYYY-MM-DD" data-date-format="YYYY-MM-DD" />
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                        </span>
                      </div>
                    </span>
                    </div>

                    <div class="product_name condition" style="display:none;">
                    <span class="col-sm-8">
                      <input type="text" class="form-control products-autocomplete" data-cond-id="{{ key }}" readonly placeholder="Enter Product" value="{{ cond.product_name ? cond.product_name : '' }}" />
                      <input type="hidden" name="conditions[{{ key }}][product_id]" value="{{ cond.product_id ? cond.product_id : '' }}" />
                    </span>

                        <span class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-addon">Min. quantity:</div>
                          <input type="number" name="conditions[{{ key }}][product_quantity]" class="form-control" value="{{ cond.product_quantity ? cond.product_quantity : '1' }}" />
                      </div>
                    </span>
                    </div>

                    <div class="product_option condition" style="display:none;">

                    <span class="col-sm-6">
                      <input type="text" class="form-control products-autocomplete" data-cond-id="{{ key }}" readonly placeholder="Enter Product" value="{{ cond.product_name ? cond.product_name : '' }}" />
                      <input type="hidden" name="conditions[{{ key }}][product_id]" value="{{ cond.product_id ? cond.product_id : '' }}" />
                    </span>

                     <span class="col-sm-6">
                      <input type="text" class="form-control products-option-autocomplete" placeholder="Enter Option Name" readonly value="{{ cond.option_data.name }}" />
                      <input type="hidden" name="conditions[{{ key }}][option_id]" value="{{ cond.option_data.option_id }}" />
                     </span>
                     <span class="col-sm-6">
                      <select name="conditions[{{ key }}][option_value_id]" class="form-control products-option-value-select">
                        <option disabled="disabled" selected="selected">-- Select an option value --</option>
                        {% for option_value in cond %}
                            <option {{ cond.option_value_id and cond.option_value_id == option_value.option_value_id ? 'selected="selected"' : '' }}  value="{{ option_value.option_value_id }}">{{ option_value.name }}</option>
                        {% endfor %}
                      </select>
                    </span>

                    <span class="col-sm-6">
                      <div class="input-group">
                        <div class="input-group-addon">Min. quantity:</div>
                          <input type="number" name="conditions[{{ key }}][product_option_quantity]" class="form-control" value="{{ cond.product_option_quantity ? cond.product_option_quantity : '1' }}" />
                      </div>
                    </span>

                    </div>

                    <div class="category_name condition" style="display:none;">
                    <span class="col-sm-4">
                      <input type="text" class="form-control categories-autocomplete" data-cond-id="{{ key }}" readonly placeholder="Enter Category" value="{{ cond.category_name ? cond.category_name : '' }}" />
                      <input type="hidden" name="conditions[{{ key }}][category_id]" value="{{ cond.category_id ? cond.category_id : '' }}" />
                    </span>

                        <span class="col-sm-4">
                        Include parent categories
                        <input style="float:right;" type="checkbox" name="conditions[{{ key }}][category_parent]" {{ cond.category_parent and cond.category_parent == 'yes' ? 'checked' : '' }} value="yes"> <br>
                        Include child categories
                        <input style="float:right;" type="checkbox" name="conditions[{{ key }}][category_child]" {{ cond.category_child and cond.category_child == 'yes' ? 'checked' : '' }} value="yes">
                    </span>

                        <span class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-addon">Min. quantity:</div>
                          <input type="number" name="conditions[{{ key }}][category_quantity]" class="form-control" value="{{ cond.category_quantity ? cond.category_quantity : '1' }}" />
                      </div>
                    </span>
                    </div>

                    <div class="customer_name condition" style="display:none;">
                    <span class="col-sm-12">
                      <input type="text" class="form-control customer-autocomplete" readonly placeholder="Enter Customer" value="{{ cond.customer_name ? cond.customer_name : '' }}" />
                      <input type="hidden" name="conditions[{{ key }}][customer_id]" value="{{ cond.customer_id ? cond.customer_id : '' }}" />
                    </span>
                    </div>

                    <div class="manufac_name condition" style="display:none;">
                    <span class="col-sm-8">
                      <input type="text" class="form-control manufacturer-autocomplete" readonly placeholder="Enter Manufacturer" value="{{ cond.manufacturer_name ? cond.manufacturer_name : '' }}" />
                      <input type="hidden" name="conditions[{{ key }}][manufacturer_id]" value="{{ cond.manufacturer_id ? cond.manufacturer_id : '' }}" />
                    </span>
                        <span class="col-sm-4">
                      <div class="input-group">
                        <div class="input-group-addon"> Min. quantity:</div>
                          <input type="number" name="conditions[{{ key }}][manufacturer_quantity]" class="form-control" value="{{ cond.manufacturer_quantity ? cond.manufacturer_quantity : '' }}" />
                      </div>
                    </span>
                    </div>

                    <div class="day condition" style="display:none;">
                    <span class="col-sm-12">
                    <select name="conditions[{{ key }}][dayofweek]" class="form-control">
                      <option {{ cond.dayofweek and cond.dayofweek == 'mon' ? 'selected="selected"' : ''  }} value="mon" selected="selected">Monday</option>
                        <option {{ cond.dayofweek and cond.dayofweek == 'wed' ? 'selected="selected"' : ''  }} value="tue">Tuesday</option>
                        <option {{ cond.dayofweek and cond.dayofweek == 'wed' ? 'selected="selected"' : ''  }} value="wed">Wednesday</option>
                        <option {{ cond.dayofweek and cond.dayofweek == 'thu' ? 'selected="selected"' : ''  }} value="thu">Thursday</option>
                        <option {{ cond.dayofweek and cond.dayofweek == 'fri' ? 'selected="selected"' : ''  }} value="fri">Friday</option>
                        <option {{ cond.dayofweek and cond.dayofweek == 'sat' ? 'selected="selected"' : ''  }} value="sat">Saturday</option>
                        <option {{ cond.dayofweek and cond.dayofweek == 'sun' ? 'selected="selected"' : ''  }} value="sun">Sunday</option>
                    </select>
                    </span>
                    </div>
                </div>
                <a data-remove-id="{{ key }}" data-toggle="tooltip" title="Remove" class="btn btn-danger" onclick="remove_cond({{ key }});" data-original-title="">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row"><hr>
    <div class="col-sm-12">
        <a data-toggle="tooltip" title="Add a new condition" id="addnewcond" class="btn btn-primary" data-original-title=""><i class="fa fa-plus"></i> Add new condition</a>
    </div>
</div>

<div id="condHelperModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Conditions helper</h4>
            </div>
            <div class="modal-body">
          <span style="font-size:13px;" class="text"> The conditions tab defines the rules for the promotion. Before proceeding to the Actions Tab, where you can set the reward for the customer, you should assign conditions.<br>
          <br><br>
          Let’s explain each condition group:
          <hr>
          <ol>
            <li>The cart requirements are very simple. The customer must have the exact/lower/higher amount of items/weight/price in the cart in order to meet the condition.</li>
            <li>The product/category/manufacturer requirements demand that the customer must have the specified product in cart or product from specified category/manufacturer. Without this product (or product from the category/manufacturer), the condition will not be met.
            </li>
            <li>The customer requirements are useful for creating customer-specific promotions, which will be available only to certain customers.</li>
            <li>The "Day of the Week" requirement is obvious. The promotion will be valid on this day of the week (for promotions like "X% off every Monday/Friday").</li>
          </ol>
          <hr>
          In order to make great promotions you can combine different conditions to achieve a variety of promotions. <br><br>

          <strong>Warning:</strong> If you leave the promotion without conditions, it will always be valid (except if the customer has not fulfilled the general setting of the promotion).
          </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getFields(element){
        var mainSelect = $(element).val();
        var selectedOption = $(element).find(":selected").attr('data-condition');

        /*
         if(mainSelect == 'cart_total') {
         html = '<div class="input-group"><div class="input-group-addon">{{ currency }}</div></div>';
         $('#condition-input'+id).append(html).find('input').appendTo('#condition-input'+id+' .input-group');
         } else {
         $('#condition-input'+id+' .input-group').find('input').prependTo('#condition-input'+id);
         $('#condition-input'+id+' .input-group').remove();
         }
         */
        $(element).parents('.conditionRowData').find('.conditionRows div.condition').hide();
        $(element).parents('.conditionRowData').find('.conditionRows .' + selectedOption).show();
    }


    $(document).ready(function () {
        $('#conditions_group div[id^=condition]').each(function () {

            var id = $(this).data('id');

            getFields($(this).find('#mainSelect'+id));
            applyAutocomplete(id);
        });
    });
</script>
