<div class="form-group required">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_module_name }}">{{ text_module_name }}</span></label>
    <div class="col-sm-6">
        <input type="text" name="name" value="{{ moduleData.name ? moduleData.name : '' }}" placeholder="Enter a name for this promotion sub-module." id="input-name" class="form-control">
    </div>
</div>

{% for key, value in languages %}
<div class="form-group required">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_promo_name }}">{{ text_promo_name }}</span></label>
    <div class="col-sm-6">
        <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><img src="{{ value.flag_url }}"></button>
            </span>
            <input type="text" name="general_settings[name][{{ key }}]" value="{{ moduleData.general_settings.name[key] ? moduleData.general_settings.name[key] : '' }}" placeholder="Enter a appropriate name for this promotion." id="input-name" class="form-control">
        </div>
    </div>
</div>
{% endfor %}

<div class="form-group required">
    <label class="col-sm-2 control-label">{{ text_status }}</label>
    <div class="col-sm-6">
        <select name="status" id="input-status" class="form-control">
            <option {{ moduleData.status  and  moduleData.status == 'yes' ? 'selected="selected"' : '' }}
            value="yes" selected="selected">Enabled
            </option>
            <option {{ moduleData.status  and  moduleData.status == 'no' ? 'selected="selected"' : '' }}
            value="no">Disabled
            </option>
        </select>
    </div>
</div>

<div class="form-group required">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_stackable }}">{{ text_stackable }}</span></label>
    <div class="col-sm-6">
        <select name="general_settings[stackable]" id="select-stackable" class="form-control">
            <option {{ moduleData.general_settings.stackable  and  moduleData.general_settings.stackable == 'yes' ? 'selected="selected"' : '' }}
            value="yes" selected="selected">Yes
            </option>
            <option {{ moduleData.general_settings.stackable  and  moduleData.general_settings.stackable == 'no' ? 'selected="selected"' : '' }}
            value="no">No
            </option>
        </select>
    </div>
</div>

<div class="form-group required">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="If you set this to yes then the promotion can be applied more than once in the same order.">Can be applied more than once</span></label>
    <div class="col-sm-6">
        <select name="general_settings[multiply]" id="select-stackable" class="form-control">
            <option {{ moduleData.general_settings.multiply  and  moduleData.general_settings.multiply == 'yes' ? 'selected="selected"' : '' }}
            value="yes" selected="selected">Yes
            </option>
            <option {{ moduleData.general_settings.multiply  and  moduleData.general_settings.multiply == 'no' ? 'selected="selected"' : '' }}
            value="no">No
            </option>
        </select>
    </div>
</div>

<div class="form-group required">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_sort_order }}">{{ text_sort_order }}</span></label>
    <div class="col-sm-6">
        <input type="number" name="general_settings[sort_order]" min="0" value="{{ moduleData.general_settings.sort_order ? moduleData.general_settings.sort_order : '0' }}" id="input-sort-order" class="form-control">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_start_date }}">{{ text_start_date }}</span></label>
    <div class="col-sm-6 date">
        <div class="input-group">
            <input type="text" name="general_settings[StartDate]" value="{{ moduleData.general_settings.StartDate ? moduleData.general_settings.StartDate : '' }}" placeholder="YYYY-MM-DD" data-date-format="YYYY-MM-DD" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_end_date }}">{{ text_end_date }}</span></label>
    <div class="col-sm-6 date">
        <div class="input-group">
            <input type="text" name="general_settings[EndDate]" value="{{ moduleData.general_settings.EndDate ? moduleData.general_settings.EndDate : '' }}" placeholder="YYYY-MM-DD" data-date-format="YYYY-MM-DD" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_total_uses }}">{{ text_total_uses }}</span></label>
    <div class="col-sm-6">
        <input type="number" name="general_settings[TotalUses]" min="0" value="{{ moduleData.general_settings.TotalUses ? moduleData.general_settings.TotalUses : '0' }}" class="form-control">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_user_total_uses }}">{{ text_user_total_uses }}</span></label>
    <div class="col-sm-6">
        <input type="number" name="general_settings[TotalUsesCustomer]" min="0" value="{{ moduleData.general_settings.TotalUsesCustomer ? moduleData.general_settings.TotalUsesCustomer : '0' }}" class="form-control">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="promotion_type"><span data-toggle="tooltip" title="{{ helper_promo_type }}">{{ text_promo_type }}</span></label>
    <div class="col-sm-6">
        <select name="general_settings[PromotionType]" id="promotion_type" class="form-control">
            <option value="1" {{ moduleData.general_settings.PromotionType == 1 ? 'selected="selected"' : '' }} >
            Automatic promotion
            </option>
            <option value="0" {{ moduleData.general_settings.PromotionType == 0 ? 'selected="selected"' : '' }} >
            Coupon promotion
            </option>
        </select>
    </div>
</div>

<div style="display:none" id="coupon_code" class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_coupon_code }}">{{ text_coupon_code }}</span></label>
    <div class="col-sm-6">
        <input type="text" name="general_settings[CouponCode]" value="{{ moduleData.general_settings.CouponCode ? moduleData.general_settings.CouponCode : '' }}" class="form-control">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_need_login }}">{{ text_need_login }}</span></label>
    <div class="col-sm-6">
        <select name="general_settings[need_login]" id="need_login" class="form-control">
            <option value="0" {{ moduleData.general_settings.need_login  and  moduleData.general_settings.need_login == 0 ? 'selected="selected"' : '' }} >
            No
            </option>
            <option value="1" {{ moduleData.general_settings.need_login  and  moduleData.general_settings.need_login == 1 ? 'selected="selected"' : '' }} >
            Yes
            </option>
        </select>
    </div>
</div>

<div id="cust_groups" class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ helper_customer_groups }}">{{ text_customer_groups }}</span></label>
    <div class="col-sm-6">
        <div class="well well-sm" style="height: 150px; overflow: auto;">
            {% for cstgr in customer_groups %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="general_settings[CustGroup][]" {{ moduleData.general_settings.CustGroup and cstgr.customer_group_id in moduleData.general_settings.CustGroup ? 'checked="checked"' : '' }} value="{{ cstgr.customer_group_id }}">&nbsp;{{ cstgr.name }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">{{ text_stores }}</label>
    <div class="col-sm-6">
        <div class="well well-sm" style="height: 150px; overflow: auto;">
            {% for store in stores %}
            <div class="checkbox">
                <label>
                    {% if moduleData.general_settings.Stores and store.store_id in moduleData.general_settings.Stores %}
                    <input type="checkbox" name="general_settings[Stores][]" value="{{ store.store_id}}" checked="checked"/>
                    {{ store.name }}
                    {% else %}
                    <input type="checkbox" name="general_settings[Stores][]" value="{{ store.store_id }}"/>
                    {{ store.name }}
                    {% endif %}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });

    $(document).ready(function () {
        $('#promotion_type').change(function () {
            if ($(this).val() == 0) {
                $('#coupon_code').show();
            } else {
                $('#coupon_code').val('');
                $('#coupon_code').hide();
            }
        });

        if ($('#promotion_type').val() == 0) {
            $('#coupon_code').show();
        } else {
            $('#coupon_code').val('');
            $('#coupon_code').hide();
        }

        $('#need_login').change(function () {
            if ($(this).val() == 1) {
                $('#cust_groups').show();
            } else {
                $('#cust_groups').hide();
            }
        });

        if ($('#need_login').val() == 1) {
            $('#cust_groups').show();
        } else {
            $('#cust_groups').hide();
        }

    });
</script>