<div class="header header-compact wrapper header-sm">
  <div class="top-bar">
    {{ j3.settings.get('desktop_top_menu') }}

    {% if j3.settings.get('langPosition') == 'top' %}
      <div class="language-currency top-menu">
        <div class="desktop-language-wrapper">
          {{ language }}
        </div>
        <div class="desktop-currency-wrapper">
          {{ currency }}
        </div>
      </div>
    {% endif %}

    {% if j3.settings.get('secondaryMenuPosition') == 'top' %}
      <div class="top-menu secondary-menu">{{ j3.settings.get('desktop_top_menu_2') }}</div>
    {% endif %}
  </div>
  <div class="mid-bar">
    <div class="desktop-logo-wrapper">
      <div id="logo">
        {% if j3.settings.get('logo_src') %}
          <a href="{{ home }}">
            <img src="{{ j3.settings.get('logo_src') }}" {% if j3.settings.get('logo2x_src') %}srcset="{{ j3.settings.get('logo_src') }} 1x, {{ j3.settings.get('logo2x_src') }} 2x"{% endif %} width="{{ j3.settings.get('logo_width') }}" height="{{ j3.settings.get('logo_height') }}" alt="{{ name }}" title="{{ name }}"/>
          </a>
        {% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
        {% endif %}
      </div>
    </div>
    <div class="desktop-main-menu-wrapper">
      {{ j3.document.hasClass('mobile-header-active') ? '' : j3.settings.get('desktop_main_menu') }}
    </div>

    <div class="header-cart-group">
      {% if j3.settings.get('langPosition') == 'search' %}
        <div class="language-currency top-menu">
          <div class="desktop-language-wrapper">
            {{ language }}
          </div>
          <div class="desktop-currency-wrapper">
            {{ currency }}
          </div>
        </div>
      {% endif %}
      {% if j3.settings.get('secondaryMenuPosition') == 'cart' %}
        <div class="top-menu secondary-menu">{{ j3.settings.get('desktop_top_menu_2') }}</div>
      {% endif %}
      <div class="desktop-search-wrapper mini-search">
        {{ search }}
      </div>
      <div class="desktop-cart-wrapper">
        {{ cart }}
      </div>
    </div>
  </div>
</div>

