<div class="mobile-header mobile-3">
  <div class="mobile-top-bar">
    <div class="mobile-top-menu-wrapper">
      {{ j3.settings.get('mobile_top_menu') }}
    </div>
    <div class="language-currency top-menu">
      <div class="mobile-currency-wrapper">
        {{ j3.document.hasClass('mobile-header-active') ? currency : '' }}
      </div>
      <div class="mobile-language-wrapper">
        {{ j3.document.hasClass('mobile-header-active') ? language : '' }}
      </div>
    </div>
  </div>
  <div class="mobile-logo-wrapper mobile-bar">
    {% if j3.document.hasClass('mobile-header-active') %}
      <div id="logo">
        {% if j3.settings.get('logo_src') %}
          <a href="{{ home }}">
            <img src="{{ j3.settings.get('logo_src') }}" {% if j3.settings.get('logo2x_src') %}srcset="{{ j3.settings.get('logo_src') }} 1x, {{ j3.settings.get('logo2x_src') }} 2x"{% endif %} width="{{ j3.settings.get('logo_width') }}" height="{{ j3.settings.get('logo_height') }}" alt="{{ name }}" title="{{ name }}"/>
          </a>
        {% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="mobile-bar-group mobile-search-group sticky-bar">
    <div class="menu-trigger">
      <button><span>Menu</span></button>
    </div>
    <div class="mobile-search-wrapper full-search">
      {{ j3.document.hasClass('mobile-header-active') ? search : '' }}
    </div>
    <div class="mobile-cart-wrapper mini-cart">
      {{ j3.document.hasClass('mobile-header-active') ? cart : '' }}
    </div>
  </div>
</div>
