{{ header }}

<style>
    #promo_container .product-thumb .caption {
        min-height: initial;
        margin-bottom:20px;
    }
</style>

<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left  and  column_right %}
        {% set class = 'col-sm-6' %}
        {% elseif  column_left  or  column_right %}
        {% set class = 'col-sm-9' %}
        {% else %}
        {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }} ">{{ content_top }}

            <h1>{{ heading_title }} </h1>

            <div id="promo_container">
                {% for promotions in chunked_promotions %}
                <div class="row">
                    {% for index, promo in promotions %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product-thumb transition">
                            <div class="image"><a href="{{ promo.page_link }} "><img src="{{ promo.image }} " alt="{{ promo.name }} " title="{{ promo.name }} " class="img-responsive" /></a></div>
                            <div class="caption">
                                <h4><a href="{{ promo.page_link }} ">{{ promo.name }} </a></h4>
                                <p>{{ promo.content }} </p>
                                <a href="{{ promo.page_link }} " class="btn btn-primary">{{ view_more_button_text }} </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>{{ text_no_promotions }} </p>
                {% endfor %}
            </div>

            {{ content_bottom }} </div>
        {{ column_right }} </div>
</div>
{{ footer }} 