{{ header }}

<div class="container">
  <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }} ">{{ breadcrumb.text }} </a></li>
      {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left  and  column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif  column_left  or  column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} ">{{ content_top }}
    <div class="row">
        <div class="col-sm-12">
            
            <h1>{{ promotion_title }}</h1>

            {% if promotion_image  %}
            <div id="image"><img style="border: 1px solid #efefef;" src="{{ promotion_image }}></div>
            {% endif %}

            <br>
            <h3>{{ description_title }}</h3>
            <div id="description">{{ promotion_description }}</div>

            {% if promotion_data.information_page.display_products == 'yes'  %}
              {% if promotion_data.included_products.product_ids  %}
               <div id="products">
                <h3>{{ linked_products_title }}</h3>
                  <div class="row products-wrapper">
                    {% for product in promotion_data.included_products.product_ids %}
                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="product-thumb transition">
                          <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                          <div style="padding: 0 20px;">
                            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            <p>{{ product.description }}</p>
                              {% if product.rating  %}
                                  {% for i in 1..5 %}
                                    {% if product.rating < i %}
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    {% else %}
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    {% endif %}
                                  {% endfor %}
                              {% endif %}
                          </div>
                          <div class="button-group">
                          <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> <i class="fa fa-shopping-cart"></i></button>
                          <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                          <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
                        </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
                </div>
              {% endif %}

              {% if promotion_data.included_products.category_ids  %}
                <div id="categories">
                <h3>{{ linked_categories_title }}</h3> 
                <div class="row category-wrapper">
                  {% for product in promotion_data.included_products.category_ids %}
                    <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="product-thumb transition">
                        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                        <div style="padding: 0 20px;">
                          <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                          <p>{{ product.description }}</p>      
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                </div>
              {% endif %}

              {% if promotion_data.included_products.manufacturer_ids  %}
                <div id="manufac">
                  <h3>{{ linked_manufacturers_title }}</h3>
                  <div class="row manufacturer-wrapper">
                     {% for product in promotion_data.included_products.manufacturer_ids %}
                        <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                          <div class="product-thumb transition">
                            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
                            <div style="padding: 0 20px;">
                              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                            </div>
                          </div>
                        </div>
                     {% endfor %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
        </div>
    </div>
    
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}

<script type="text/javascript">
    $('#included_products li:first-child a').tab('show');
</script>