{{ header }}{{ column_left }}
<div id="content">
<div class="action"></div>
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
          <button type="button" class="btn btn-info howitworks" data-toggle="modal" data-target="#howitworks">{{ text_howitworks }} <i class="fa fa-question" aria-hidden="true"></i></button>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#helpGuide"><i class="fa fa-book" aria-hidden="true"></i> Need Help ?</button>
        
       </div>
    </div>
</div>
<div class="page-header">
   <div class="container-fluid">
   <div class="pull-right">
    {% for link in links %}
          <a class="btn btn-{{ link.type }}"  href="{{ link.href }}"><i class="fa fa-{{ link.font }}"></i> <span>{{ link.text }}</span></a>
     {% endfor %}
    </div>
  </div>
</div>
 <div class="page-header">
    </div>
    <div class="page-header">
      <div class="container-fluid">
        <h1><i class="fa fa-rocket" aria-hidden="true"></i> {{ heading_title }}</h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
  </div>
    <div class="container-fluid">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label productname" for="input-name">{{ column_product }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_product_name }}" id="input-name" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label productmodel" for="input-model">{{ entry_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label productsku" for="input-sku">{{ entry_sku }}</label>
                <input type="text" name="filter_sku" value="{{ filter_sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label quantitybelow" for="input-quantity">{{ entry_quantity }}</label>
                <input type="text" name="filter_quantity" value="{{ filter_quantity }}" placeholder="{{ entry_quantity }}" id="input-quantity" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label categoryfilter" for="input-category">{{ entry_category }}</label>
                 <select name="filter_category_id" id="input-category" class="form-control">
                  <option value="*"></option>
                  {% for category in categories %}
                  {% if filter_category_id == category.category_id %}
                  <option value="{{ category.category_id }}" selected="selected">{{ category.name }}</option>
                  {% else %}
                  <option value="{{ category.category_id }}">{{ category.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="control-label manufacturerfilter" for="input-manufacturer">{{ entry_manufacturer }}</label>
                 <select name="filter_manufacturer_id" id="input-manufacturer" class="form-control">
                  <option value="*"></option>
                  {% for manufacturer in manufacturers %}
                  {% if filter_manufacturer_id == manufacturer.manufacturer_id %}
                  <option value="{{ manufacturer.manufacturer_id }}" selected="selected">{{ manufacturer.name }}</option>
                  {% else %}
                  <option value="{{ manufacturer.manufacturer_id }}">{{ manufacturer.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label productsubtract" for="input-subtract">{{ entry_subtract }}</label>
                <select name="filter_subtract" id="input-subtract" class="form-control">
                  <option value="*"></option>
                  {% if filter_subtract == '1' %}
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  {% else %}
                  <option value="1">{{ text_yes }}</option>
                  {% endif %}
                  {% if filter_subtract == '0' %}
                  <option value="0" selected="selected">{{ text_no }}</option>
                  {% else %}
                  <option value="0">{{ text_no }}</option>
                  {% endif %}
                </select>
              </div>
              <div class="form-group">
                <label class="control-label productoptions" for="input-options">{{ entry_options }}</label>
                <select name="filter_options" id="input-options" class="form-control">
                  <option value="*"></option>
                  {% if filter_options == '1' %}
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  {% else %}
                  <option value="1">{{ text_yes }}</option>
                  {% endif %}
                  {% if filter_options == '0' %}
                  <option value="0" selected="selected">{{ text_no }}</option>
                  {% else %}
                  <option value="0">{{ text_no }}</option>
                  {% endif %}
                </select>
              </div>
              <div class="form-group">
                <label class="control-label productstatus" for="input-status">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-control">
                  <option value="*"></option>
                  {% if filter_status == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if filter_status == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
              <button type="button" id="button-filter" class="btn btn-primary pull-right usefilter"><i class="fa fa-search"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th width="20%">
                 {% if sort == 'p.name' %}
                    <a href="{{ sort_name }}" class="<?php echo order|lower }}">
                      {{ column_product }}
                    </a>
                    {% else %}
                    <a href="{{ sort_name }}">
                      {{ column_product }}
                    </a>
                    {% endif %}</th>
                 <th>{{ column_option }}</th>
                <th>{% if sort == 'pt.quantity' %}
                    <a href="{{ sort_quantity }}" class="<?php echo order|lower }}">{{ column_quantity }}</a>
                    {% else %}
                    <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                    {% endif %}</th>
                <th>{{ column_warehouse }} {{ column_quantity }}</th>
                <th style="width:25%;" class="text-center">{{ column_action }}</th>
              </tr>
            </thead>
            <tbody>
            {% if total %}
            {% for key,value in results %}
             {% set product_warehouse = value.product_warehouse %}
              <tr class="{{ value.id }}">
                <td>
                  <img src="{{ value.image }}"><br>
                  <a href="{{ value.href }}" target="_blank">{{ value.names }}</a></td>
                <td>---</td>
                 {% if filter_subtract == value.subtract %}
                 <td>
                    <div class="col-sm-12">
                        <b class="currentquantity">{{ value.pquant }}</b>
                    </div>
                  </td>
                     <td class="quant">
                    <div class="well well-sm" style="min-height:200px; overflow: auto;">
                      {% for key,warehouse in warehouses %}
                      <div class="checkbox">
                        <label>
                           {% if product_warehouse[warehouse.warehouse_id] is defined %}
                          <b>{{ warehouse.name }}</b>
                          &nbsp; &nbsp;
                          <input type="text" placeholder="{{ entry_warehouse_qty }}" name="warehouse[{{ warehouse.warehouse_id }}][qty]" value="{{ product_warehouse[warehouse.warehouse_id] }}" class="form-control case" style="width:60%;display:inline-block;" />
                          {% else %}
                          <b>{{ warehouse.name }}</b>
                          &nbsp; &nbsp;
                           <input type="text" placeholder="{{ entry_warehouse_qty }}" name="warehouse[{{ warehouse.warehouse_id }}][qty]" value="" class="form-control case" style="width:60%;display:inline-block;" />
                          {% endif %}
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                </td>
                <td class="text-center">
                  <div class="alert alert-danger" style="display:none;"></div>
                  <div class="alert alert-success" style="display:none;"></div>
                  <button onclick='resetqty({{ value.id }});' class="btn btn-primary" data-toggle="tooltip" title="{{ text_reset }}"> <i class="fa fa-refresh"></i> </button><br><br>
                  <button onclick='sumandsave({{ value.id }},1);' class="btn btn-primary" data-toggle="tooltip" title="{{ text_sumup }} + {{ button_save }}"> <i class="fa fa-plus"></i> + <i class="fa fa-save"></i></button><br><br>
                  <button onclick='sumandsave({{ value.id }},0);' class="btn btn-primary" data-toggle="tooltip" title="{{ button_save }}"> <i class="fa fa-save"></i> </button>
                </td>
                {% else %}
                <td colspan="3">--</td>
                {% endif %}
              </tr>
              {% if product_option_value_data[value.id] is defined %}
                {% for optionvalue in product_option_value_data[value.id] %}
                <tr class="{{ value.id }}_{{ optionvalue.product_option_value_id }}" >
                <td>{{ value.names }}</td>
                <td>{{ optionvalue.name }}</td>
                 <td>
                    <div class="col-sm-12">
                        <b class="currentquantity">{{ optionvalue.quantity }}</b>
                    </div>
                  </td>
                     <td class="oquant">
                      <div class="well well-sm" style="min-height:200px; overflow: auto;">
                      {% for key,warehouse in warehouses %}
                       <div class="checkbox">
                          <label>
                            {% if optionvalue.warehouse is not empty and optionvalue.warehouse[warehouse.warehouse_id] is defined %}
                            <b>{{ warehouse.name }}</b>
                            &nbsp; &nbsp;
                            <input type="text" placeholder="{{ entry_warehouse_qty }}" name="warehouse[{{ warehouse.warehouse_id }}][qty]" value="{{ optionvalue.warehouse[warehouse.warehouse_id] }}" class="form-control case" style="width:60%;display:inline-block;" />
                            {% else %}
                            <b>{{ warehouse.name }}</b>
                            &nbsp; &nbsp;
                             <input type="text" placeholder="{{ entry_warehouse_qty }}" name="warehouse[{{ warehouse.warehouse_id }}][qty]" value="" class="form-control case" style="width:60%;display:inline-block;" />
                            {% endif %}
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                </td>
                <td class="text-center">
                  <div class="alert alert-danger" style="display:none;"></div>
                  <div class="alert alert-success" style="display:none;"></div>
                  <button onclick='resetqty("{{ value.id }}_{{ optionvalue.product_option_value_id }}");' class="btn btn-primary" data-toggle="tooltip" title="{{ text_reset }}"> <i class="fa fa-refresh"></i> </button><br><br>
                  <button onclick='sumandsave("{{ value.id }}_{{ optionvalue.product_option_value_id }}",1);' class="btn btn-primary" data-toggle="tooltip" title="{{ text_sumup }} + {{ button_save }}"> <i class="fa fa-plus"></i> + <i class="fa fa-save"></i></button><br><br>
                  <button onclick='sumandsave("{{ value.id }}_{{ optionvalue.product_option_value_id }}",0);' class="btn btn-primary" data-toggle="tooltip" title="{{ button_save }}"> <i class="fa fa-save"></i> </button>
                </td>
              </tr>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5" class="text-center">{{ text_no_results }}</td>
            </tr>
            {% endif %}
            </tbody>
           
        </table>
         <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results1 }}</div>
            </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div id="howitworks" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_howitworks }}</h4>
      </div>
      <div class="modal-body">
        {{ text_howitworks_producteditview | replace({"\n":"<br>"}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
function sumandsave(trclass,sumvalue) {
    $('.alert').hide();
    if(sumvalue) {
      console.log(sumvalue);
      var sumqty = 0;
      $('tr.' + trclass + ' input.case').each(function(){
        if($(this).val()) {
         sumqty = parseInt(sumqty) + parseInt($(this).val());
        }
      });
      console.log(sumqty);
      $('tr.' + trclass + ' div b.currentquantity').html(sumqty);
      console.log('tr.' + trclass + ' div b.currentquantity');
    }  
    $.ajax({
        url: 'index.php?route=extension/module/warehouse/savequantity&user_token={{ user_token }}&sumvalue='+sumvalue+'&trclass='+trclass,
        type: 'post',
        data: $('tr.'+trclass+' input.case'),
        dataType: 'json',
        success: function(json) {
          if(json.error) {
            $('tr.' + trclass + ' .alert-danger').html(json.error).show(0);
          } else {
            if(sumvalue) {
              $('tr.' + trclass + ' .alert-success').html("{{ text_success_sumqty }}").show(0).delay(800).hide(0);
            } else {
              $('tr.' + trclass + ' .alert-success').html("{{ text_success_qty }}").show(0).delay(800).hide(0);
            }
          }
        }
    });
}
function resetqty(trclass) {
    $('tr.' + trclass + ' input.case').each(function(){
       $(this).val(0);    
    });
    $('tr.' + trclass + ' .alert-success').html("{{ text_success_rest }}").show(0).delay(800).hide(0);
}
</script>
 <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = 'index.php?route=extension/module/warehouse/producteditview&user_token={{ user_token }}';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_model = $('input[name=\'filter_model\']').val();

  if (filter_model) {
    url += '&filter_model=' + encodeURIComponent(filter_model);
  }

  var filter_sku = $('input[name=\'filter_sku\']').val();

  if (filter_sku) {
    url += '&filter_sku=' + encodeURIComponent(filter_sku);
  }

  var filter_subtract = $('select[name=\'filter_subtract\']').val();

  if (filter_subtract) {
    url += '&filter_subtract=' + encodeURIComponent(filter_subtract);
  }

  var filter_options = $('select[name=\'filter_options\']').val();

  if (filter_options) {
    url += '&filter_options=' + encodeURIComponent(filter_options);
  }

  var filter_quantity = $('input[name=\'filter_quantity\']').val();

  if (filter_quantity) {
    url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
  }

  var filter_status = $('select[name=\'filter_status\']').val();

  if (filter_status != '*') {
    url += '&filter_status=' + encodeURIComponent(filter_status);
  }

  var filter_category_id = $('select[name=\'filter_category_id\']').val();

  if (filter_category_id != '*') {
    url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
  }

  var filter_manufacturer_id = $('select[name=\'filter_manufacturer_id\']').val();

  if (filter_manufacturer_id != '*') {
    url += '&filter_manufacturer_id=' + encodeURIComponent(filter_manufacturer_id);
  }

  location = url;
});
//--></script> 
 <script type="text/javascript"><!--
$('.well input').bind('keydown', function(e) {
  if (e.keyCode == 13) {
  var url = 'index.php?route=extension/module/warehouse/producteditview&user_token={{ user_token }}';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_model = $('input[name=\'filter_model\']').val();

  if (filter_model) {
    url += '&filter_model=' + encodeURIComponent(filter_model);
  }

  var filter_sku = $('input[name=\'filter_sku\']').val();

  if (filter_sku) {
    url += '&filter_sku=' + encodeURIComponent(filter_sku);
  }

  var filter_quantity = $('input[name=\'filter_quantity\']').val();

  if (filter_quantity) {
    url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
  }

  var filter_category_id = $('select[name=\'filter_category_id\']').val();

  if (filter_category_id != '*') {
    url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
  }

  var filter_manufacturer_id = $('select[name=\'filter_manufacturer_id\']').val();

  if (filter_manufacturer_id != '*') {
    url += '&filter_manufacturer_id=' + encodeURIComponent(filter_manufacturer_id);
  }

  var filter_status = $('select[name=\'filter_status\']').val();

  if (filter_status != '*') {
    url += '&filter_status=' + encodeURIComponent(filter_status);
  }

  location = url;
  }
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item.name,
            value: item.product_id
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_name\']').val(item.label);
  }
});

$('input[name=\'filter_model\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item.model,
            value: item.product_id
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_model\']').val(item.label);
  }
});
//--></script>
{{ footer }}
<div id="helpGuide" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ heading_title }}</h4>
      </div>
      <div class="modal-body">
          <div class="row" style="text-align:center;">
        <div class="col-sm-12" style="margin-bottom:1em;">
            <a href="https://support.cartbinder.com/" data-toggle="tooltip" target="_blank" title="Create / view support ticket" class="btn btn-info" style="width:200px;"><i class="fa fa-life-ring" aria-hidden="true"></i> Create Support Ticket</a>
             </div>
             
              <div class="col-sm-12">
      <div class="col-sm-6" style="margin-bottom:1em;">
             <a href="https://www.cartbinder.com/store/multiple-warehouse-stock-management-in-house-opencart-extension" data-toggle="tooltip" target="_blank" title="{{ heading_title }} link" class="btn btn-primary" style="width:200px;"><i class="fa fa-link" aria-hidden="true"></i> Extension Link</a>
      </div>
      <div class="col-sm-6" style="margin-bottom:1em;">
             <a href="https://www.cartbinder.com/store/any-questions" data-toggle="tooltip" target="_blank" title="Need customization" class="btn btn-success" style="width:200px;"><i class="fa fa-edit" aria-hidden="true"></i> Need Customization</a>
      </div>
      </div>
      <div class="col-sm-12">
        <br>
        <label class="col-sm-12">An extension by</label>
        <h3><a href="https://www.cartbinder.com/store/" target="_blank" title="CartBinder : Opencart Extensions & Customizations" style="color:black;">CART<font style="color:#1D8F9D;font-size:27px;">B</font>INDER</a></h3>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>