{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
      <div class="container-fluid">
          <div class="pull-right">
            <button type="button" class="btn btn-info howitworks" data-toggle="modal" data-target="#howitworks">{{ text_howitworks }} <i class="fa fa-question" aria-hidden="true"></i></button>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#helpGuide"><i class="fa fa-book" aria-hidden="true"></i> Need Help ?</button>
        
         </div>
      </div>
  </div>
  <div class="page-header">
   <div class="container-fluid">
   <div class="pull-right">
    {% for link in links %}
          <a class="btn btn-{{ link.type }}"  href="{{ link.href }}"><i class="fa fa-{{ link.font }}"></i> <span>{{ link.text }}</span></a>
     {% endfor %}
    </div>
  </div>
</div>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        
       {% if licensed_md5 == 'd9a22d7a8178d5b42a8750123cbfe5b1' %}
       <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        {% endif %}
        
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-warehouse').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1><i class="fa fa-industry" aria-hidden="true"></i> {{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">

        {% if support_status == 'enabled' %}
        <div class="table-responsive"> 
          <table id="order_details" class="table table-bordered table-striped">
            <tbody>
            <tr>
              <td style="width:7%;background: #8e8e8e;color: white;">License Info</td>
              <td style="width:5%;background: #efefef;">Order Id</td>
              <td>{{ support_order_id }}</td>
              <td style="width:4%;background: #efefef;">Domain</td>
              <td>{{ domain }}</td>
              <td style="width:8%;background: #efefef;">Registered To</td>
              <td>{{ support_email }}</td>
              <td style="width:7%;background: #efefef;">Registered</td>
              <td>{{ support_registered_date }}</td>
              <td style="width:7%;background: #efefef;">Support Ends</td>
              <td>{{ support_order_date }}</td>
            </tr>
            </tbody>
            <tfooter>
              <tr>
                <td colspan="11" class="text-center">{{ text_free_support_remaining }}</td>
              </tr>
            </tfooter>
          </table>
        </div>
      {% else %}
       <div class="table-responsive"> 
          <table id="order_details" class="table table-bordered table-striped">
            <tfooter>
              <tr>
                <td class="text-center">{{ text_free_support_remaining }}</td>
              </tr>
            </tfooter>
          </table>
        </div>
        {% endif %}
        
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">

       {% if licensed_md5 == 'd9a22d7a8178d5b42a8750123cbfe5b1' %}
        
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-warehouse">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="<?php echo order|lower }}">{{ column_warehouse }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_warehouse }}</a>
                    {% endif %}</td>
                     <td class="text-left">{{ column_zone }}</td>
                     <td class="text-right">{{ column_sort_order }}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if warehouses %}
                {% for warehouse in warehouses %}
                <tr>
                  <td class="text-center">{% if warehouse.warehouse_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ warehouse.warehouse_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ warehouse.warehouse_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ warehouse.name }}</td>
                  <td class="text-left">{{ warehouse.zonename }}</td>
                  <td class="text-right">{{ warehouse.sort_order }}</td>
                  <td class="text-right"><a href="{{ warehouse.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>

        {% endif %}
       {% if licensed=='none' %}
    {{ license_purchase_thanks }}
    {% if regerror is defined and regerror %} {{ regerror_quote_msg }} {% endif %}
    {% if regerror is defined and regerror %} <p style="color:red;">Error msg: {{ regerror }}</p>{% endif %}
      <h2>{{ license_registration }}</h2>
      <form name="reg" method="post" action="{{ oc_licensing_home }}register.php" id="reg" class="form-horizontal">
          <div class="form-group">
              <label class="col-sm-2 control-label" for="opencart_email">{{ license_opencart_email }}</label>
              <div class="col-sm-10">
                <input name="opencart_email" type="text" autofocus required id="opencart_email" form="reg" class="form-control">
              </div>
            {% if emailmal is defined and emailmal and regerror == 'emailmal' %}<p style="color:red;">{{ check_email }}</p>{% endif %}
          <div class="form-group">
              <label class="col-sm-2 control-label" for="order_id">{{ license_opencart_orderid }}</label>
              <div class="col-sm-10">
                <input name="order_id" type="text" autofocus required id="order_id" form="reg" class="form-control">
              </div>
            </div>
            {% if regerror is defined and regerror == 'orderid' %}<p style="color:red;">{{ check_orderid }}</p>{% endif %}
          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" form="reg" data-toggle="tooltip" title="{{ license_registration }}" class="btn btn-primary"><i class="fa fa-save"></i></button><input name="extension_id" type="hidden" id="extension_id" form="reg" value="{{ extension_id }}">
            </div>
          </div>
    </form>
    {% endif %}
    {% if licensed == 'curl' %}
    {{ server_error_curl }}
    {% endif %}
        
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="howitworks" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_howitworks }}</h4>
      </div>
      <div class="modal-body">
       {{ text_howitworks_listcontent | replace({"\n":"<br>"}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{{ footer }}
<div id="helpGuide" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ heading_title }}</h4>
      </div>
      <div class="modal-body">
          <div class="row" style="text-align:center;">
        <div class="col-sm-12" style="margin-bottom:1em;">
            <a href="https://support.cartbinder.com/" data-toggle="tooltip" target="_blank" title="Create / view support ticket" class="btn btn-info" style="width:200px;"><i class="fa fa-life-ring" aria-hidden="true"></i> Create Support Ticket</a>
             </div>
             
              <div class="col-sm-12">
      <div class="col-sm-6" style="margin-bottom:1em;">
             <a href="https://www.cartbinder.com/store/multiple-warehouse-stock-management-in-house-opencart-extension" data-toggle="tooltip" target="_blank" title="{{ heading_title }} link" class="btn btn-primary" style="width:200px;"><i class="fa fa-link" aria-hidden="true"></i> Extension Link</a>
      </div>
      <div class="col-sm-6" style="margin-bottom:1em;">
             <a href="https://www.cartbinder.com/store/any-questions" data-toggle="tooltip" target="_blank" title="Need customization" class="btn btn-success" style="width:200px;"><i class="fa fa-edit" aria-hidden="true"></i> Need Customization</a>
      </div>
      </div>
      <div class="col-sm-12">
        <br>
        <label class="col-sm-12">An extension by</label>
        <h3><a href="https://www.cartbinder.com/store/" target="_blank" title="CartBinder : Opencart Extensions & Customizations" style="color:black;">CART<font style="color:#1D8F9D;font-size:27px;">B</font>INDER</a></h3>
      </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>