{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">{% if (licensed_md5 == 'd9a22d7a8178d5b42a8750123cbfe5b1') %}
    <button id="save_and_stay" data-toggle="tooltip" title="{{button_stay}}" class="btn btn-success"><i class="fa fa-save"></i></button>
	<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>{% endif %}
	<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
    </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}  
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ edit_title }}</h3>
      </div>
      <div class="panel-body">
      {% if (licensed_md5 == 'd9a22d7a8178d5b42a8750123cbfe5b1') %}
      <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">             
        <ul class="nav nav-tabs">
        	<li class="active"><a href="#tab-settings" data-toggle="tab"><span class="fa fa-cog"></span> {{ tab_settings }} </a></li>
            <li><a href="#tab-options" data-toggle="tab"><span class="fa fa-toggle-on"></span> {{ tab_options }} </a></li>
            <li><a href="#tab-css" data-toggle="tab"><span class="fa fa-paint-brush"></span> {{ tab_css }} </a></li>
            <li><a style="display:none" href="#tab-about" data-toggle="tab"><span class="fa fa-support"></span> {{ tab_about }} </a></li>           
          </ul>           
          <div class="tab-content">
          <div class="tab-pane active" id="tab-settings">         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ text_help_status }}">{{ entry_status }}</span></label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_status" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-status" name="module_shortpanel_status" {% if module_shortpanel_status %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_help_sn }}">{{ entry_sn }}</span></label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_sn" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-sn" name="module_shortpanel_sn" {% if module_shortpanel_sn %}checked="checked"{% endif %} value="1" />             
            </div>           
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_help_ellipsis }}">{{ entry_ellipsis }}</span></label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_ellipsis" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-ellipsis" name="module_shortpanel_ellipsis" {% if module_shortpanel_ellipsis %}checked="checked"{% endif %} value="1" />             
            </div>           
          </div>                          
        <div class="form-group">
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_help_replace }}">{{ entry_replace }}</span></label>
        <div class="col-sm-10">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-active {% if module_shortpanel_replace %} active {% endif %}">
            <input name="module_shortpanel_replace" value="1" autocomplete="off" {% if module_shortpanel_replace %} checked="checked" {% endif %} type="radio">{{ text_yes }}
          </label>
          <label class="btn btn-inactive {% if not module_shortpanel_replace %} active {% endif %}">
            <input name="module_shortpanel_replace" value="0" autocomplete="off" {% if not module_shortpanel_replace %} checked="checked" {% endif %} type="radio">{{ text_no }}
          </label>
                </div>
              </div>
            </div>                    
         <div class="form-group">         
         {% set i = 1 %} 
		 {% for key, value in shortpanel_content %} 
        <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_help_length }}">{{ language_settings[key] }}</span></label>
        <div class="col-sm-2"> 
    <input type="{{ value }}" class="form-control" name="module_shortpanel[{{ key }}]" {{ module_shortpanel[key] ? 'value="'~module_shortpanel[key]~'" checked' : '' }} />
            {% set i = i + 1 %}
            {% endfor %}                            
              </div>
            </div>
            <div class="form-group">
        <div class="notice">{{ text_product_page }}</div>
      <label class="col-sm-2 control-label" for="input-shortpanel-field"><span data-toggle="tooltip" title="{{ text_help_field }}">{{ entry_position }}</span></label>
     <div class="col-sm-4 custom-select">
        <select name="module_shortpanel_field" id="input-shortpanel-field" class="form-control">
        <option value="0"{{ module_shortpanel_field == '0' ? 'selected="selected"' : '' }}>{{ text_position }}</option>
        <option value="1"{{ module_shortpanel_field == '1' ? 'selected="selected"' : '' }}>{{ text_below_name }}</option>
        <option value="2"{{ module_shortpanel_field == '2' ? 'selected="selected"' : '' }}>{{ text_above_price }}</option>
        <option value="3"{{ module_shortpanel_field == '3' ? 'selected="selected"' : '' }}>{{ text_below_price }}</option>       			
        </select>        
              </div>
            </div>   
          </div>              
          <div class="tab-pane" id="tab-options">
            <!--// Product-->           
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_product">{{entry_product}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[product]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-product" name="module_shortpanel_options[product]" {% if module_shortpanel_options.product %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_related">{{entry_related}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[related]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-related" name="module_shortpanel_options[related]" {% if module_shortpanel_options.related %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>          
           <!-- // Modules-->           
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_bestseller">{{entry_bestseller}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[bestseller]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-bestseller" name="module_shortpanel_options[bestseller]" {% if module_shortpanel_options.bestseller %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_featured">{{entry_featured}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[featured]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-featured" name="module_shortpanel_options[featured]" {% if module_shortpanel_options.featured %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>           
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_latest">{{entry_latest}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[latest]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-latest" name="module_shortpanel_options[latest]" {% if module_shortpanel_options.latest %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>        
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_special">{{entry_special}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[special]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-special" name="module_shortpanel_options[special]" {% if module_shortpanel_options.special %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>                   
          <!--// Others-->         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_category">{{entry_category}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[category]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-category" name="module_shortpanel_options[category]" {% if module_shortpanel_options.category %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>      
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_manufacturer">{{entry_manufacturer}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[manufacturer]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-manufacturer" name="module_shortpanel_options[manufacturer]" {% if module_shortpanel_options.manufacturer %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>           
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_search">{{entry_search}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[search]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-search" name="module_shortpanel_options[search]" {% if module_shortpanel_options.search %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>       
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_special2">{{entry_special2}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[special2]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-special2" name="module_shortpanel_options[special2]" {% if module_shortpanel_options.special2 %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_compare">{{entry_compare}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[compare]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-compare" name="module_shortpanel_options[compare]" {% if module_shortpanel_options.compare %}checked="checked"{% endif %} value="1" />            
             </div>
           </div>
           <!--// Journal 2-->
          <div class="journal">{{ text_journal2 }}</div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_carousel">{{entry_carousel}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[carousel]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-carousel" name="module_shortpanel_options[carousel]" {% if module_shortpanel_options.carousel %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_sections">{{entry_sections}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[sections]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-sections" name="module_shortpanel_options[sections]" {% if module_shortpanel_options.sections %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>    
          <!--// Journal 3-->
          <div class="journal">{{ text_journal3 }}</div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_carousel">{{entry_card}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[cardl]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-card" name="module_shortpanel_options[card]" {% if module_shortpanel_options.card %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input_sections">{{entry_side}}</label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_options[side]" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-side" name="module_shortpanel_options[side]" {% if module_shortpanel_options.side %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>              
         </div>           
          <div class="tab-pane" id="tab-css">            
           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-css"><span data-toggle="tooltip" title="{{ text_help_css }}">{{ entry_css }}</span></label>
            <div class="col-sm-10">           
            <input type="hidden" name="module_shortpanel_css" value="0" />
            <input type="checkbox" class="switcher" data-label-text="{{text_enabled}}" id="input-css" name="module_shortpanel_css" {% if module_shortpanel_css %}checked="checked"{% endif %} value="1" />            
            </div>
          </div>          
          <div class="form-group">                
              <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_help_content_css }}">{{ entry_content_css }}</span></label>
              <div class="col-sm-10">
              <textarea wrap="off"  name= "css" rows="15" class="form-control">{{ css }}</textarea>                    
              </div>
            </div>
          </div>         
          <div class="tab-pane" id="tab-about">
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_product_name }}</label>
            <div class="col-sm-10" style="margin-top: 9px;">
              {{ text_product }}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_doc }}</label>
            <div class="col-sm-10" style="margin-top: 9px;">
              <a href="https://1drv.ms/w/s!Ap0ey4-_J5WJgsUXOR4HaCEXWmbVag" target="_blank">{{ text_doc }}</a>
            </div>
          </div>                 
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_market }}</label>
            <div class="col-sm-10" style="margin-top: 9px;">
              <a href="https://www.opencart.com/index.php?route=marketplace/extension&filter_member=Mika%20Design" target="_blank">{{ text_market }}</a>
              </div>
            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label" for="button_support_email">{{entry_support}}</label>
            <div class="col-sm-2">
              <a href="{{support_url}}" class="btn btn-ticket btn-block" target="_blank"><i class="fa fa-support"></i> {{button_support}}</a>
            </div>
          </div>
          <div class="form-group">
        <div class="col-sm-10">
         <iframe src="https://support.mikadesign.co.uk/information/information-3x.html" style="border:none; width:100%; min-height: 200px; overflow:hidden;"></iframe>           	           
          </div>
         </div>        
        </div>
       </div>      
      <div class="col-sm-12 text-center copyright">			
      <p>Copyright &copy KPIS 2017 -
      <script type="text/javascript"><!-- 
      var curdate = new Date();
      var year = curdate.getFullYear();
      document.write(year + " ");
      // --></script>
      </p>
     </div> 
    </form>
           {% endif %}
       {% if licensed == 'none' %}
    {{ license_purchase_thanks }}
    {{ regerror is defined ? regerror_quote_msg : '' }}
    {% if regerror is defined %}
    <p style="color:red;">error msg: {{ regerror }}</p>
    {% endif %}
    <h2>{{ license_registration }}</h2>
    <form name="reg" method="post" action="{{ oc_licensing_home }}register.php" id="reg" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="opencart_email">{{ license_opencart_email }}</label>
            <div class="col-sm-10">
              <input name="opencart_email" type="text" autofocus required id="opencart_email" form="reg" class="form-control"></div>
          </div>
	{% if (emailmal is defined and regerror == 'emailmal') %}<p style="color:red;">{{ check_email }}</p>{% endif %}
        <div class="form-group">
            <label class="col-sm-2 control-label" for="order_id">{{ license_opencart_orderid }}</label>
            <div class="col-sm-10">
              <input name="order_id" type="text" autofocus required id="order_id" form="reg" class="form-control"></div>
          </div>
	{% if (regerror is defined and regerror == 'orderid') %}<p style="color:red;">{{ check_orderid }}</p>{% endif %}
        <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" form="reg" data-toggle="tooltip" title="{{ license_registration }}" class="btn btn-primary"><i class="fa fa-save"></i></button><input name="extension_id" type="hidden" id="extension_id" form="reg" value="{{ extension_id }}"></div>
          </div>
    </form>
    {% endif %}
    {% if licensed == 'curl' %}
    {{ server_error_curl }}
    {% endif %}               
       </div>
     </div>
   </div>
</div>
<script type="text/javascript"><!--
//checkbox
  $(function () {    
    $(".switcher[type='checkbox").bootstrapSwitch({
        'onColor': 'success',
        'labelWidth': '50',
        'onText': '{{text_yes}}',
        'offText': '{{text_no}}',
    });
});
//save and stay
  $(document).on('click', '#save_and_stay', function(){
	$.ajax( {
	type: 'post',
	url: $('#form-module').attr('action') + '&save',
	data: $('#form-module').serialize(),
	beforeSend: function() {
		$('#form-module').fadeTo('slow', 0.5);
	},
	complete: function() {
		$('#form-module').fadeTo('slow', 1);
	},
	success: function( response ) {
		console.log( response );
	}
  });
});
// Custom Select
var x, i, j, selElmnt, a, b, c;
/*look for any elements with the class "custom-select":*/
x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  /*for each element, create a new DIV that will act as the selected item:*/
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /*for each element, create a new DIV that will contain the option list:*/
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < selElmnt.length; j++) {
    /*for each option in the original select element,
    create a new DIV that will act as an option item:*/
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /*when an item is clicked, update the original select box,
        and the selected item:*/
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
      /*when the select box is clicked, close any other select boxes,
      and open/close the current select box:*/
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
  });
}
function closeAllSelect(elmnt) {
  /*a function that will close all select boxes in the document,
  except the current select box:*/
  var x, y, i, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  for (i = 0; i < y.length; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < x.length; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}
/*if the user clicks anywhere outside the select box,
then close all select boxes:*/
document.addEventListener("click", closeAllSelect);
//--></script>
{{ footer }} 