{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
      <div class="container-fluid">
          <div class="pull-right">
            <button type="button" class="btn btn-info howitworks" data-toggle="modal" data-target="#howitworks">{{ text_howitworks }} <i class="fa fa-question" aria-hidden="true"></i></button>
         </div>
      </div>
  </div>
  <div class="page-header">
   <div class="container-fluid">
   <div class="pull-right">
    {% for link in links %}
          <a class="btn btn-{{ link.type }}"  href="{{ link.href }}"><i class="fa fa-{{ link.font }}"></i> <span>{{ link.text }}</span></a>
     {% endfor %}
    </div>
  </div>
</div>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-warehouse').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1><i class="fa fa-industry" aria-hidden="true"></i> {{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-warehouse">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="<?php echo order|lower }}">{{ column_warehouse }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_warehouse }}</a>
                    {% endif %}</td>
                     <td class="text-left">{{ column_zone }}</td>
                     <td class="text-right">{{ column_sort_order }}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if warehouses %}
                {% for warehouse in warehouses %}
                <tr>
                  <td class="text-center">{% if warehouse.warehouse_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ warehouse.warehouse_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ warehouse.warehouse_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ warehouse.name }}</td>
                  <td class="text-left">{{ warehouse.zonename }}</td>
                  <td class="text-right">{{ warehouse.sort_order }}</td>
                  <td class="text-right"><a href="{{ warehouse.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="6">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="howitworks" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_howitworks }}</h4>
      </div>
      <div class="modal-body">
       {{ text_howitworks_listcontent | replace({"\n":"<br>"}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{{ footer }}