{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
      <div class="container-fluid">
          <div class="pull-right">
            <button type="button" class="btn btn-info howitworks" data-toggle="modal" data-target="#howitworks">{{ text_howitworks }} <i class="fa fa-question" aria-hidden="true"></i></button>
         </div>
      </div>
  </div>
  <div class="page-header">
     <div class="container-fluid">
     <div class="pull-right">
      {% for link in links %}
          <a class="btn btn-{{ link.type }}"  href="{{ link.href }}"><i class="fa fa-{{ link.font }}"></i> <span>{{ link.text }}</span></a>
     {% endfor %}
      </div>
    </div>
  </div>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-pp-std-uk" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        </div>
      <h1><i class="fa fa-cogs" aria-hidden="true"></i> {{ heading_title_settings }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-pp-std-uk" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-automaticreduce" data-toggle="tab">{{ tab_automaticreduce }}</a></li>
            <li><a href="#tab-cronjob" data-toggle="tab">{{ tab_cronjob }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-showininvoice">{{ text_showininvoice }}</label>
                <div class="col-sm-10">
                  <select name="module_warehouse_showininvoice" id="entry-showininvoice" class="form-control">
                  {% if module_warehouse_showininvoice == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if module_warehouse_showininvoice == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-automaticreduce">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-automaticstockreduce">{{ text_automaticstockreduce }}</label>
                <div class="col-sm-10">
                  <select name="module_warehouse_automaticstockreduce" id="entry-automaticstockreduce" class="form-control">
                  {% if module_warehouse_automaticstockreduce == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if module_warehouse_automaticstockreduce == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-reduceafterorderplaced">{{ text_reduceafterorderplaced }}</label>
                <div class="col-sm-10">
                  <select name="module_warehouse_reduceafterorderplaced" id="entry-reduceafterorderplaced" class="form-control">
                  {% if module_warehouse_reduceafterorderplaced == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if module_warehouse_reduceafterorderplaced == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-negativestock">{{ text_negativestock }}</label>
                <div class="col-sm-10">
                  <select name="module_warehouse_negativestock" id="entry-negativestock" class="form-control">
                  {% if module_warehouse_negativestock == '1' %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  {% endif %}
                  {% if module_warehouse_negativestock == '0' %}
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% else %}
                  <option value="0">{{ text_disabled }}</option>
                  {% endif %}
                </select>
                </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-process-status">{{ text_orderstatus }}</label>
                  <div class="col-sm-10">
                    <div class="well well-sm" style="height: 150px; overflow: auto;">
                      {% for order_status in order_statuses %}
                      <div class="checkbox">
                        <label>
                          {% if module_warehouse_order_status is not empty and order_status.order_status_id in module_warehouse_order_status %}
                          <input type="checkbox" name="module_warehouse_order_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
                          {{ order_status.name }}
                          {% else %}
                          <input type="checkbox" name="module_warehouse_order_status[]" value="{{ order_status.order_status_id }}" />
                          {{ order_status.name }}
                          {% endif %}
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="entry-sortorder">{{ text_preference }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                  {% for key,value in sort_order %}
                  <div class="checkbox">
                   <label>
                    {{ value }}
                    <input name="module_warehouse_sortorder[{{ key }}]" id="entry-sortorder"  value="{{ module_warehouse_sortorder[key] }}">
                   </label>
                 </div>
                  {% endfor %}
                </div>
                </div>
              </div>

            </div>
            <div class="tab-pane" id="tab-cronjob">
              <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {{ text_automaticreduce }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="howitworks" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ text_howitworks }}</h4>
      </div>
      <div class="modal-body">
        {{ text_howitworks_setting | replace({"\n":"<br>"}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{{ footer }}